/* style errors */
.error-highlight {
    border: 1px solid red;
}
.error-message {
    color: red;
    display: none;
}
.error-message_show {
    display: block;
}

/* ====================== */
/* not needed - demo only */
/* ====================== */

input {
    margin-left: 1px;
}

td.align-top {
    vertical-align: top;
}

#status {
    background-color: white;
    padding: 15px;
}

#success {
    color: green
}

/* ====================== */
/* not needed - demo only */
/* ====================== */